@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
/* font-family: 'Kanit', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
:root{ --kanit: 'Kanit', sans-serif;}

/* Reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font:inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}

/* common css */
* {box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
body {background-color: #000; position: relative;}
header {padding: 20px 40px; position: fixed; top:0; right:0; left:0; z-index: 99;}
header nav {display: flex; justify-content: space-between; align-items: center;}
header nav div.hamburger div {width: 30px; height: 3px; background-color: #fff; margin-bottom: 7px;}
header span {color: #fff; font-size: 12px; letter-spacing: 1em;}

section {display: none;}
section.active{display: block; top: 0; left: 0; width: 100vw; height: 100vh;}



