*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.cv-bg{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
}

.pic-area{
    position: relative;
    height: 70vh;
    width: 80%;
}

.three-d{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    /* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    background-image: linear-gradient(45deg, to top, #e6e9f0 0%, #eef1f5 100%);
}